<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8" />
    <title>测试页面</title>
    <link rel="icon" href="../images/logo2.png" type="image/x-icon"/>
    
</head>
<body bgcolor="#FFE4C4">
注:打星号为必填选项请务必填写完整
<form action="/registerAction" method="post">
			<!-- 	<div class="inputOuter2"  style="margin-bottom:20px;">
                    <input type="text" id="userps" name="userps" placeholder="性别"  maxlength="16" />
                </div>
                <div class="inputOuter2"  style="margin-bottom:20px;">
                    <input type="text" id="username" name="username" placeholder="ss"  maxlength="16" />
                </div> -->
                <div class="inputOuter2"  style="margin-bottom:20px;">
                    <input type="" id="text" name="password" placeholder="用户名"  maxlength="16" /><span><b>***</b></span>
                </div>
               
                <div class="inputOuter2"  style="margin-bottom:20px;">
                    <input type="password" id="id" name="id" placeholder="password"  maxlength="16" /><span><b>***</b></span>
                </div>
<!--    <div class="inputOuter2"  style="margin-bottom:20px;">
                    <input type="text" id="userid" name="userid" placeholder="年龄"  maxlength="16" />
                </div>
                
               -->
                <div>
                <input type="submit" value="提交" class="btn btn-primary block full-width m-b"/>
                
                </div>
</form>


</body>
</html>
